body{
font-family:Arial;
background:linear-gradient(#0f172a,#4c1d95);
color:white;
text-align:center;
}

.nav{
background:#1e293b;
padding:10px;
}

button{
margin:5px;
padding:10px;
border:none;
border-radius:5px;
background:#6366f1;
color:white;
cursor:pointer;
}

input,select{
padding:10px;
margin:10px;
border-radius:5px;
border:none;
}

.hidden{
display:none;
}